body {
  margin: 0;
  background-color: #171717;
  width: 100%;
  min-height: 100vh;
}

.title {
    position: absolute;
    text-align: center;
    width: 100vw;
    display: inline-block;
    margin-top: 25vw;
    font-size: 100px;
    font-family: arial;
    text-shadow:
    1px -0px 1px #ccc, 0px -1px 1px #eee, 
    2px -1px 1px #ccc, 1px -2px 1px #eee,
    3px -2px 1px #ccc, 2px -3px 1px #eee, 
    4px -3px 1px #ccc, 3px -4px 1px #eee,
    5px -4px 1px #ccc, 4px -5px 1px #eee,
    6px -5px 1px #ccc, 5px -6px 1px #eee,
    7px -6px 1px #ccc;
    color: rgb(0, 119, 255);
}

.container {
  position: relative;
  top: 45vh;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  color: #444;
}

.circ {
  background-image: url('../img/ps.jpg');
  color: #fff;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}

.circ.1 {
    background-image: url('../img/ps.jpg');
}

#2 {
    background-image: url('../img/beautiful\ purple\ sunset.jpg');
}

#3 {
    background-image: url('../img/beautiful\ purple\ sunset.jpg');
}
